/*universal tags*/
html {
    font-size: 20px;
  }

@media only screen and (max-width: 1500px) {
    html{
        font-size: 16px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

/*nav bar*/

.navbar{
    display: flex;
    height: 64px;
    align-items: center;
    width: 100%;
}

.logosection {
    display: flex;
    flex: 1;
    padding-left: 1.5rem;
    
}

.logotext {
    display: flex;
    align-items: center;
}

.logotext h3 {
    font-weight: 700;
}

.logotext p{
    font-weight: 100;
}

.mobileMenu{
    display: none;
}

.menu{
    display: flex;
    flex: 2;
    justify-content: flex-end;
    padding-right: 1.5rem;
}

.menu ul{
    display: flex;
}

.desktopMenu {
    padding-left: 1rem;
}

@media only screen and (max-width: 580px){

    .logosection{
        flex: 1;
        justify-content: space-around;
    }

    .menu{
        flex: 3;
    }

    .logotext{
        display: none;
    }

    .mobileMenu {
        display: flex;
        padding: 0;
        flex: 3;
        justify-content: space-around;
        
    }

    .desktopMenu {
        display: none;
    }
}

/*Main banner section
    Part 1
*/

.banner1 {
    display: flex;
    background-color: rgba(215, 215, 215, 0.874);
}

.image1{
    flex: 3;
}
.banner1 img {
    width: 90%;
    padding: 2rem 1.5rem;
}

.bannerText1 {
    flex: 2 ;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: rgb(62, 62, 62);
    
}

.bannerText1 h1 {
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    width: 80%;
}

.bannerText1 p {
    padding-bottom: 1.5rem;
    width: 80%;
}

#banner1Button {
   width: 80%;
   text-align: center;
   text-decoration: none;
   background-color: rgb(62, 62, 62);
   color: white;
   padding: .5rem;
}

@media only screen and (max-width: 611px) {
    .banner1{
        flex-direction: column;
    }
    .banner1 img {
        padding: 0;
        width: 100%;
        
    }
    .bannerText1 {
        padding: 2rem 1rem ;
        
    }
    .bannerText1 h1 {
        width: 100%;
    }
    .bannerText1 p {
        width: 100%;
    }
    #banner1Button {
        width: auto; 
    }
}

/*Main banner section
    Part 2
*/

.banner2 {
    display: flex;
    margin: 2rem 0;
    color: rgb(62, 62, 62);
}

.image2 {
    flex: 3;
    padding: 0 1.5rem 0 1.5rem;
}

.image2 img {
    width: 100%;
    padding: 0 0 2rem 0;
}

.image2 h2{
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 1.5rem;
}

.image2 p{
    font-size: 0.8rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.image2 h4 {
    font-size: 0.8rem;
    font-weight: 400;
}

/*cards*/

.cards {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-around;
}
.card1,
.card2,
.card3 {
    display: flex;
    border: 1px solid rgba(215, 215, 215, 0.874);
}

.card3 {
    background-color: rgba(215, 215, 215, 0.874);
}

.mobileImg{
    display: none;
}

.desktopImg {
    width: 35%;
    height: auto;
    padding: 1rem;
}

.card1Text,
.card2Text,
.card3Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards h2{
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.cards p,
.cards a {
    font-size: 0.8rem;
    font-weight: 400;
}

.cards p {
    padding-bottom: 0.5rem;
}

.cards a{
    text-decoration: none;
    color: rgb(17, 172, 243);
}

@media only screen and (max-width: 611px){
    .banner2{
        margin: 1rem 1rem 0 1rem;
    }
    .image2{
        display: none;
    }
    .desktopImg {
        display: none;
    }
    .mobileImg{
        display: flex;
        height: 100%;
        width: 100%;
        object-fit: contain;        
    }
    .card3 {
        background-color: rgba(215, 215, 215, 0);
    }
    .card1,
    .card2,
    .card3 {
        flex-direction: column;
        border: none;
    }
    .card1Text,
    .card2Text,
    .card3Text{
        padding: 1rem;
    }
}

/*Courses Section*/

.learning {
    background-color: rgba(215, 215, 215, 0.729);
    color: rgb(62, 62, 62);
    padding: 2rem 4.5rem;
    
}

.learning h3 {
    text-align: center;
    font-size: 2rem;
    
    padding-bottom: 2rem;
    font-weight: 800;
}

.boxes {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 2rem 2rem;

}


.box{
    background-color: rgb(255, 255, 255);
}

.box img {
    width: 100%;
    height: auto;
}

.box h1 {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0 0.5rem 1rem;
}

.box h2,
.box p {
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 1rem;
}

.box h2 {
    padding-bottom: .5rem;
}
.box p{
    padding-bottom: 1.5rem;
}

/*Mobile responsive for mobile and tablets */

@media only screen and (max-width: 868px) {
    .learning{
        padding: 2rem 1rem;
    }
    .boxes{
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        gap: 1rem 1rem;
    }
}

@media only screen and (max-width: 614px) {
    .learning{
        background-color: rgba(255, 255, 255, 0.137);
    }
    .learning h3 {
        padding-bottom: 1rem;
    }
    .boxes{
        grid-template: repeat(6, 1fr) / repeat(1, 1fr);
        row-gap: .5rem;
    }
    .box{
        background-color: rgba(215, 215, 215, 0.729);
    }
    .box h2,
    .box p,
    .box img {
        display: none;
    } 
    .box h1 {
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem 0 1rem 1rem;
    }
}

/*EXHIBIT PART*/

.exhibit {
    display: flex;
}
.exhibitContainer{
    color: rgb(62, 62, 62);
    border-bottom: 1px solid rgb(149, 149, 149);
}

.exhibitContainer h2 {
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 800; 
}

.exhibitvideo {
    flex: 3;
    padding: 0 1.5rem 2rem 1.5rem;
}
.exhibitvideo h1{
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}
.exhibitvideo p{
    font-size: 0.8rem;
    font-weight: 400;
}
.exhibitvideo video{
    padding-bottom: 1.5rem;
}
.exhibitCards {
    flex: 2;
}
.exhibitcard{
    display: flex;
    align-items: center;
}
.exhibitcard img {
    width: 35%;
    height: auto;
    padding: 1rem;
}
#exhibitCardFirst {
    background-color: rgba(215, 215, 215, 0.729);
}
.exhibitcard h1{
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.exhibitcard p {
    font-size: 0.8rem;
    font-weight: 400;
}

@media only screen and (max-width: 614px) {
    .exhibitCards{
        display: none;
    }
    .exhibitContainer h2 {
        padding-bottom: 1rem;
    }
    .exhibitvideo h1,
    .exhibitvideo p {
        display: none;
    }
    .exhibitvideo{
        padding: 0;
    }
}

/*Footer*/

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 3rem 1.5rem;
    font-size: .6rem;
    font-weight: 400;
}
.footer2 {
    display: flex;   
}
#privacy {
    padding: 0 0.5rem;
}
@media only screen and (max-width: 454px) {
    .footer2{
        display: none;
    }
}