/*universal tags*/
html {
    font-size: 16px;
  }

body {
    font-family: 'Roboto', sans-serif;
}

/*nav bar*/

.navbar{
    display: flex;
    height: 64px;
    align-items: center;
    width: 100%;
}

.logosection {
    display: flex;
    flex: 1;
    padding-left: 1.5rem;
    
}

.logotext {
    display: flex;
    align-items: center;
}

.logotext h3 {
    font-weight: 700;
}

.logotext p{
    font-weight: 100;
}

.mobileMenu{
    display: none;
}

.menu{
    display: flex;
    flex: 2;
    justify-content: flex-end;
    padding-right: 1.5rem;
}

.menu ul{
    display: flex;
}

.desktopMenu {
    padding-left: 1rem;
}

@media only screen and (max-width: 580px){

    .logosection{
        flex: 1;
        justify-content: space-around;
    }

    .menu{
        flex: 3;
    }

    .logotext{
        display: none;
    }

    .mobileMenu {
        display: flex;
        padding: 0;
        flex: 3;
        justify-content: space-around;
        
    }

    .desktopMenu {
        display: none;
    }
}

/*Main banner section*/

.cointainer {
    width: 100%;

}

.banner1 {
    display: flex;
    background-color: rgba(215, 215, 215, 0.874);
}

.image1{
    flex: 3;
}
.banner1 img {
    width: 90%;
    padding: 2rem 1.5rem;
}

.bannerText1 {
    flex: 2 ;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: rgb(62, 62, 62);
    
}

.bannerText1 h1 {
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    width: 80%;
}

.bannerText1 p {
    padding-bottom: 1.5rem;
    width: 80%;
}

#banner1Button {
   width: 80%;
   text-align: center;
   text-decoration: none;
   background-color: rgb(62, 62, 62);
   color: white;
   padding: .5rem;
}

@media only screen and (max-width: 611px) {
    .banner1{
        flex-direction: column;
    }
    .banner1 img {
        padding: 0;
        width: 100%;
        
    }
    .bannerText1 {
        padding: 2rem 1rem ;
        
    }
    .bannerText1 h1 {
        width: 100%;
    }
    .bannerText1 p {
        width: 100%;
    }
    #banner1Button {
        width: auto; 
    }
}