/*universal tags*/
html {
    font-size: 16px;
  }
body {
    font-family: 'Roboto', sans-serif;
}

/*nav bar*/

.navbar{
    display: flex;
    height: 64px;
    align-items: center;
    width: 100%;
}

.logosection {
    display: flex;
    flex: 1;
    padding-left: 1.5rem;
    
}

.logotext {
    display: flex;
    align-items: center;
}

.logotext h3 {
    font-weight: 700;
}

.logotext p{
    font-weight: 100;
}

.mobileMenu{
    display: none;
}

.menu{
    display: flex;
    flex: 2;
    justify-content: flex-end;
    padding-right: 1.5rem;
}

.menu ul{
    display: flex;
}

.desktopMenu {
    padding-left: 1rem;
}

@media only screen and (max-width: 580px){

    .logosection{
        flex: 1;
        justify-content: space-around;
    }

    .menu{
        flex: 3;
    }

    .logotext{
        display: none;
    }

    .mobileMenu {
        display: flex;
        padding: 0;
        flex: 3;
        justify-content: space-around;
        
    }

    .desktopMenu {
        display: none;
    }
}

